{% extends 'carapp/main.html' %}
{% load static %}
{% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/addAdvert.css' %}" />
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'addAdvert.js' %}"></script>
</head>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container my-4">
    <div class="row">
      <div class="col-md-11 wrapper bg-white shadow-lg">
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <p>{{field.label}} - {{ error }} </p>
              {% endfor %}
          {% endfor %}
        {% endif %}
        <h4 class="pb-4 border-bottom d-flex justify-content-between align-items-center">
          Dodaj ogłoszenie
          <svg id="pointsSpinner" width="50" height="50" viewBox="0 0 100 100" class="flex-shrink-1 flex-grow-0">
              <circle cx="50" cy="50" r="45" fill="none" stroke="#e6e6e6" stroke-width="10"/>
              <circle id="progressCircle" cx="50" cy="50" r="45" fill="none" stroke="#007bff" stroke-width="10" stroke-dasharray="283" stroke-dashoffset="283"/>
              <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="18" fill="#000" id="pointsText">0 pkt.</text>
          </svg>
        </h4>
        <!-- Pasek postępu -->
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Etap 1: Informacje podstawowe -->
          <div class="form-step step-1">
            <div class="py-2">
              <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>
                  Tytuł ogłoszenia: Podaj krótki i chwytliwy tytuł, który przyciągnie uwagę.
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-12">
                  <label for="title">Tytuł ogłoszenia</label>
                  {{ form.title }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="variant">Marka</label>
                  {{ form.brand }}
                </div>
                <div class="col-md-4">
                  <label for="model">Model</label>
                  {{ form.model }}
                </div>
                <div class="col-md-4">
                  <label for="variant">Typ nadwozia</label>
                  {{ form.variant }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="price">Cena</label>
                  {{ form.price }}
                </div>
                <div class="col-md-4">
                  <label for="first_registration">Rok produkcji</label>
                  {{ form.first_registration }}
                </div>
                <div class="col-md-4">
                  <label for="phone">Telefon</label>
                  {{ form.phone }}
                </div>
              </div>
              <div class="row py-2">
                <div>
                  <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      Lokalizacja: Podaj adres, gdzie można obejrzeć pojazd.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="street">Ulica i numer</label>
                  {{ form.street }}
                </div>
                <div class="col-md-4">
                  <label for="postal_code">Kod pocztowy</label>
                  {{ form.postal_code }}
                </div>
                <div class="col-md-4">
                  <label for="city">Miejscowość</label>
                  {{ form.city }}
                </div>
              </div>
              <div id="autocomplete-suggestions" style="display: none; position: absolute; background: white; border: 1px solid #ccc;"></div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="mileage">Przebieg</label>
                  {{ form.mileage }}
                </div>
                <div class="col-md-4">
                  <label for="condition">Stan</label>
                  {{ form.condition }}
                </div>
                <div class="col-md-4">
                  <label for="registered_as_antique">Zarejestrowany jako zabytek?</label>
                  {{ form.registered_as_antique }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="has_registration_number">Czy posiada numer rejestracyjny?</label>
                  {{ form.has_registration_number }}
                </div>
                <div class="col-md-4">
                  <label for="registered_in_poland">Zarejestrowany w Polsce?</label>
                  {{ form.registered_in_poland }}
                </div>
                <div class="col-md-4">
                  <label for="first_owner">Pierwszy właściciel?</label>
                  {{ form.first_owner }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="serviced_in_aso">Serwisowany w ASO?</label>
                  {{ form.serviced_in_aso }}
                </div>
                <div class="col-md-4">
                  <label for="damaged">Uszkodzony?</label>
                  {{ form.damaged }}
                </div>
                <div class="col-md-4">
                  <label for="imported">Importowany?</label>
                  {{ form.imported }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="transmission">Skrzynia biegów</label>
                  {{ form.transmission }}
                </div>
                <div class="col-md-4">
                  <label for="right_hand_drive">Prawostronny?</label>
                  {{ form.right_hand_drive }}
                </div>
                <div class="col-md-4">
                  <label for="drive">Napęd</label>
                  {{ form.drive }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="truck_approval">Homologacja ciężarowa?</label>
                  {{ form.truck_approval }}
                </div>
                <div class="col-md-4">
                  <label for="country_of_origin">Kraj pochodzenia</label>
                  {{ form.country_of_origin }}
                </div>
                <div class="col-md-4">
                  <label for="drive">Bezwypadkowy</label>
                  {{ form.no_crashed }}
                </div>
              </div>
            </div>
          </div>

          <!-- Etap 2: Zdjęcia i opis -->
          <div class="form-step step-2 d-none">
            <div class="row py-2">
              <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>
                  Opisz szczegółowo stan pojazdu, jego historię oraz wszelkie istotne informacje, które mogą zainteresować kupującego.
                </div>
              </div>
              <div class="col-md-12">
                <label for="description">Opis</label>
                {{ form.description }}
              </div>
            </div>
            <div class="row py-2">
              <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Zdjęcia są kluczowe. Upewnij się, że są dobrej jakości. Unikaj zdjęć:
                  <div>
                    - na których widać inne pojazdy,
                  </div>
                  <div>
                    - rozmazanych,
                  </div>
                  <div>
                    - prześwietlonych lub zbyt ciemnych,
                  </div>
                  <div>
                    - źle wykadrowanych.
                  </div>
                  Jeśli samochód ma widoczne uszkodzenia, zadbaj, aby były widoczne na zdjęciach. W ten sposób zwiększysz swoją wiarygodność wśród kupujących.
                </div>
              </div>
              <div class="col-md-12">
                <label for="featured_image1">Dodaj zdjęcie</label>
              {{ form.featured_image1 }}
              <span id="featured_image1_name" class="file-name"></span>
              </div>
              <div class="col-md-12">
                <label for="featured_image2">Dodaj zdjęcie</label>
                {{ form.featured_image2 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image3">Dodaj zdjęcie</label>
                {{ form.featured_image3 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image4">Dodaj zdjęcie</label>
                {{ form.featured_image4 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image5">Dodaj zdjęcie</label>
                {{ form.featured_image5 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image6">Dodaj zdjęcie</label>
                {{ form.featured_image6 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image7">Dodaj zdjęcie</label>
                {{ form.featured_image7 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image8">Dodaj zdjęcie</label>
                {{ form.featured_image8 }}
              </div>
            </div>
          </div>

          <!-- Etap 3: Dane techniczne -->
          <div class="form-step step-3 d-none">
            <div class="row py-2">
              <div class="col-md-4">
                <label for="fuel_type">Rodzaj paliwa</label>
                {{ form.fuel_type }}
              </div>
              <div class="col-md-4">
                <label for="engine_capacity">Pojemność skokowa</label>
                {{ form.engine_capacity }}
              </div>
              <div class="col-md-4">
                <label for="power">Moc</label>
                {{ form.power }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="color">Kolor</label>
                {{ form.color }}
              </div>
              <div class="col-md-4">
                <label for="num_of_doors">Liczba drzwi</label>
                {{ form.num_of_doors }}
              </div>
              <div class="col-md-4">
                <label for="color_type">Typ koloru</label>
                {{ form.color_type }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="city_fuel_consumption">Spalanie w mieście (L/100km)</label>
                {{ form.city_fuel_consumption }}
              </div>
              <div class="col-md-4">
                <label for="highway_fuel_consumption">Spalanie poza miastem (L/100km)</label>
                {{ form.highway_fuel_consumption }}
              </div>
              <div class="col-md-4">
                <label for="combined_fuel_consumption">Spalanie cykl mieszany (L/100km)</label>
                {{ form.combined_fuel_consumption }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="co2_emission">Emisja CO2 (g/km)</label>
                {{ form.co2_emission }}
              </div>
              <div class="col-md-4">
                <label for="emission_class">Klasa emisji spalin</label>
                {{ form.emission_class }}
              </div>
              <div class="col-md-4">
                <label for="eco_sticker">Ekoplakietka</label>
                {{ form.eco_sticker }}
              </div>
            </div>
          </div>

          <!-- Etap 4: Wyposażenie auta -->
          <div class="form-step step-4 d-none">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
              <div>
                Przejrzyj listę dostępnego wyposażenia i zaznacz wszystkie elementy, które posiada twój pojazd.
              </div>
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
              <div>
                Po uzupełnieniu wszystkich informacji kliknij “Zakończ”, aby opublikować ogłoszenie.
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4 py-3">
                <h5>Audio i multimedia</h5>
                <div class="form-check">
                  {{ form.apple_carplay }} <label class="form-check-label" for="apple_carplay">Apple Carplay</label>
                </div>
                <div class="form-check">
                  {{ form.android_auto }} <label class="form-check-label" for="android_auto">Android Auto</label>
                </div>
                <div class="form-check">
                  {{ form.bluetooth_interface }} <label class="form-check-label" for="bluetooth_interface">Interfejs Bluetooth</label>
                </div>
                <div class="form-check">
                  {{ form.radio }} <label class="form-check-label" for="radio">Radio</label>
                </div>
                <div class="form-check">
                  {{ form.handsfree_kit }} <label class="form-check-label" for="handsfree_kit">Zestaw głośnomówiący</label>
                </div>
                <div class="form-check">
                  {{ form.usb_socket }} <label class="form-check-label" for="usb_socket">Gniazdo USB</label>
                </div>
                <div class="form-check">
                  {{ form.wireless_charging }} <label class="form-check-label" for="wireless_charging">Bezprzewodowe ładowanie</label>
                </div>
                <div class="form-check">
                  {{ form.navigation_system }} <label class="form-check-label" for="navigation_system">System nawigacji</label>
                </div>
                <div class="form-check">
                  {{ form.sound_system }} <label class="form-check-label" for="sound_system">System nagłośnienia</label>
                </div>
                <div class="form-check">
                  {{ form.head_up_display }} <label class="form-check-label" for="head_up_display">Wyświetlacz Head-up</label>
                </div>
                <div class="form-check">
                  {{ form.touchscreen }} <label class="form-check-label" for="touchscreen">Ekran dotykowy</label>
                </div>
                <div class="form-check">
                  {{ form.voice_control }} <label class="form-check-label" for="voice_control">Sterowanie głosowe</label>
                </div>
                <div class="form-check">
                  {{ form.internet_access }} <label class="form-check-label" for="internet_access">Dostęp do Internetu</label>
                </div>
              </div>
              <div class="col-md-4 py-3">
                <h5>Bezpieczeństwo</h5>
                <div class="form-check">
                    <label class="form-check-label" for="id_abs">ABS</label>
                    {{ form.abs }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_electronic_brake_distribution">Elektroniczny rozdział sił hamowania</label>
                    {{ form.electronic_brake_distribution }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_emergency_brake_assist">Asystent hamowania awaryjnego</label>
                    {{ form.emergency_brake_assist }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_active_city_brake_assist">Aktywny asystent hamowania w mieście</label>
                    {{ form.active_city_brake_assist }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_driver_fatigue_warning">Ostrzeżenie o zmęczeniu kierowcy</label>
                    {{ form.driver_fatigue_warning }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_collision_warning">Ostrzeżenie przed kolizją</label>
                    {{ form.collision_warning }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_side_impact_protection">Ochrona przed uderzeniem bocznym</label>
                    {{ form.side_impact_protection }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_rear_impact_protection">Ochrona przed uderzeniem tylnym</label>
                    {{ form.rear_impact_protection }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_engine_sound_elimination">Eliminacja dźwięku silnika</label>
                    {{ form.engine_sound_elimination }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_rear_cross_traffic_alert">Ostrzeżenie o ruchu poprzecznym z tyłu</label>
                    {{ form.rear_cross_traffic_alert }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_lane_keeping_assist">Asystent utrzymania pasa ruchu</label>
                    {{ form.lane_keeping_assist }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_obstacle_detection_assist">Asystent wykrywania przeszkód</label>
                    {{ form.obstacle_detection_assist }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_cornering_stability_assist">Asystent stabilności na zakrętach</label>
                    {{ form.cornering_stability_assist }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_rear_collision_mitigation">Łagodzenie skutków kolizji tylnej</label>
                    {{ form.rear_collision_mitigation }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_central_airbag">Centralna poduszka powietrzna</label>
                    {{ form.central_airbag }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_driver_side_airbag">Poduszka powietrzna po stronie kierowcy</label>
                    {{ form.driver_side_airbag }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_front_side_airbags">Przednie poduszki powietrzne boczne</label>
                    {{ form.front_side_airbags }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_rear_side_airbags">Tylne poduszki powietrzne boczne</label>
                    {{ form.rear_side_airbags }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_rear_curtain_airbags">Tylne kurtyny powietrzne</label>
                    {{ form.rear_curtain_airbags }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_passenger_airbag">Poduszka powietrzna pasażera</label>
                    {{ form.passenger_airbag }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_isofix">Isofix</label>
                    {{ form.isofix }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_rollover_protection">Ochrona przed przewróceniem</label>
                    {{ form.rollover_protection }}
                </div>
              </div>
              <div class="col-md-4 py-3">
                <h5>Komfort</h5>
                <div class="form-check">
                  {{ form.air_conditioning }} <label class="form-check-label" for="air_conditioning">Klimatyzacja</label>
                </div>
                <div class="form-check">
                  {{ form.rear_passenger_air_conditioning }} <label class="form-check-label" for="rear_passenger_air_conditioning">Klimatyzacja tylna</label>
                </div>
                <div class="form-check">
                  {{ form.folding_roof }} <label class="form-check-label" for="folding_roof">Składany dach</label>
                </div>
                <div class="form-check">
                  {{ form.sunshade }} <label class="form-check-label" for="sunshade">Słonecznik</label>
                </div>
                <div class="form-check">
                  {{ form.openable_roof }} <label class="form-check-label" for="openable_roof">Otwierany dach</label>
                </div>
                <div class="form-check">
                  {{ form.electric_driver_seat }} <label class="form-check-label" for="electric_driver_seat">Elektrycznie regulowany fotel kierowcy</label>
                </div>
                <div class="form-check">
                  {{ form.electric_passenger_seat }} <label class="form-check-label" for="electric_passenger_seat">Elektrycznie regulowany fotel pasażera</label>
                </div>
                <div class="form-check">
                  {{ form.heated_driver_seat }} <label class="form-check-label" for="heated_driver_seat">Podgrzewany fotel kierowcy</label>
                </div>
                <div class="form-check">
                  {{ form.heated_passenger_seat }} <label class="form-check-label" for="heated_passenger_seat">Podgrzewany fotel pasażera</label>
                </div>
                <div class="form-check">
                  {{ form.lumbar_support_driver }} <label class="form-check-label" for="lumbar_support_driver">Podparcie lędźwiowe kierowcy</label>
                </div>
                <div class="form-check">
                  {{ form.lumbar_support_passenger }} <label class="form-check-label" for="lumbar_support_passenger">Podparcie lędźwiowe pasażera</label>
                </div>
                <div class="form-check">
                  {{ form.ventilated_front_seats }} <label class="form-check-label" for="ventilated_front_seats">Wentylowane przednie siedzenia</label>
                </div>
                <div class="form-check">
                  {{ form.massage_front_seats }} <label class="form-check-label" for="massage_front_seats">Fotele z masażem z przodu</label>
                </div>
                <div class="form-check">
                  {{ form.seat_memory }} <label class="form-check-label" for="seat_memory">Pamięć foteli</label>
                </div>
                <div class="form-check">
                  {{ form.sport_front_seats }} <label class="form-check-label" for="sport_front_seats">Sportowe przednie siedzenia</label>
                </div>
                <div class="form-check">
                  {{ form.heated_rear_seats }} <label class="form-check-label" for="heated_rear_seats">Podgrzewane tylne siedzenia</label>
                </div>
                <div class="form-check">
                  {{ form.ventilated_rear_seats }} <label class="form-check-label" for="ventilated_rear_seats">Wentylowane tylne siedzenia</label>
                </div>
                <div class="form-check">
                  {{ form.massage_rear_seats }} <label class="form-check-label" for="massage_rear_seats">Fotele z masażem z tyłu</label>
                </div>
                <div class="form-check">
                  {{ form.front_armrest }} <label class="form-check-label" for="front_armrest">Przedni podłokietnik</label>
                </div>
                <div class="form-check">
                  {{ form.rear_armrest }} <label class="form-check-label" for="rear_armrest">Tylny podłokietnik</label>
                </div>
                <div class="form-check">
                  {{ form.leather_steering_wheel }} <label class="form-check-label" for="leather_steering_wheel">Skórzana kierownica</label>
                </div>
                <div class="form-check">
                  {{ form.sport_steering_wheel }} <label class="form-check-label" for="sport_steering_wheel">Sportowa kierownica</label>
                </div>
                <div class="form-check">
                  {{ form.steering_wheel_radio_controls }} <label class="form-check-label" for="steering_wheel_radio_controls">Sterowanie radiem na kierownicy</label>
                </div>
                <div class="form-check">
                  {{ form.electric_steering_column }} <label class="form-check-label" for="electric_steering_column">Elektryczna kolumna kierownicy</label>
                </div>
                <div class="form-check">
                  {{ form.multifunction_steering_wheel }} <label class="form-check-label" for="multifunction_steering_wheel">Wielofunkcyjna kierownica</label>
                </div>
                <div class="form-check">
                  {{ form.heated_steering_wheel }} <label class="form-check-label" for="heated_steering_wheel">Podgrzewana kierownica</label>
                </div>
                <div class="form-check">
                  {{ form.paddle_shifters }} <label class="form-check-label" for="paddle_shifters">Łopatki zmiany biegów</label>
                </div>
                <div class="form-check">
                  {{ form.leather_gear_knob }} <label class="form-check-label" for="leather_gear_knob">Skórzana gałka zmiany biegów</label>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4 py-3">
                <h5>Osiągi i tuning</h5>
                <div class="form-check">
                    <label class="form-check-label" for="id_runflat_tires">Opony Runflat</label>
                    {{ form.runflat_tires }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_comfort_suspension">Zawieszenie komfortowe</label>
                    {{ form.comfort_suspension }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_electronic_suspension_control">Elektroniczna kontrola zawieszenia</label>
                    {{ form.electronic_suspension_control }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_sport_suspension">Zawieszenie sportowe</label>
                    {{ form.sport_suspension }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_adjustable_suspension">Regulowane zawieszenie</label>
                    {{ form.adjustable_suspension }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_pneumatic_suspension">Zawieszenie pneumatyczne</label>
                    {{ form.pneumatic_suspension }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_hydropneumatic_suspension">Zawieszenie hydropneumatyczne</label>
                    {{ form.hydropneumatic_suspension }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_ceramic_composite_brakes">Hamulce ceramiczne</label>
                    {{ form.ceramic_composite_brakes }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_particulate_filter">Filtr cząstek stałych</label>
                    {{ form.particulate_filter }}
                </div>
              </div>
              <div class="col-md-4 py-3">
                <h5>Samochody elektryczne</h5>
                <div class="form-check">
                    <label class="form-check-label" for="id_runflat_tires">System odzyskiwania energii</label>
                    {{ form.energy_recovery_system }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_comfort_suspension">Funkcja szybkiego ładowania</label>
                    {{ form.fast_charging_function }}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_electronic_suspension_control">Kabel do ładowania</label>
                    {{ form.charging_cable }}
                </div>
              </div>
            </div>
          </div>
            <div class="form-navigation">
              <button type="button" class="btn btn-secondary prevBtn">Wstecz</button>
              <button type="button" class="btn btn-primary nextBtn">Dalej</button>
              <button type="submit" class="btn btn-success submitBtn" style="display: none;">Zakończ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let streetInput = document.querySelector("input[name='street']");
        let postalCodeInput = document.querySelector("input[name='postal_code']");
        let cityInput = document.querySelector("input[name='city']");
        let suggestionsBox = document.getElementById("autocomplete-suggestions");

        function fetchSuggestions() {
            let street = streetInput.value;
            let postalCode = postalCodeInput.value;
            let city = cityInput.value;

            if (street.length >= 4 || city.length >= 4) {  // Zmiana warunku na 3 znaki
                fetch(`/autocomplete_address/?street=${street}&postal_code=${postalCode}&city=${city}`)
                    .then(response => response.json())
                    .then(data => {
                        suggestionsBox.innerHTML = "";
                        suggestionsBox.style.display = "block";

                        data.results.forEach(result => {
                            let suggestion = document.createElement("div");
                            suggestion.innerText = result.formatted;
                            suggestion.style.cursor = "pointer";
                            suggestion.addEventListener("click", function() {
                                streetInput.value = result.components.road;
                                postalCodeInput.value = result.components.postcode;
                                cityInput.value = result.components.city;
                                suggestionsBox.style.display = "none";
                            });
                            suggestionsBox.appendChild(suggestion);
                        });
                    });
            } else {
                suggestionsBox.style.display = "none";
            }
        }

        streetInput.addEventListener("input", fetchSuggestions);
        cityInput.addEventListener("input", fetchSuggestions);

        document.addEventListener("click", function(e) {
            if (!suggestionsBox.contains(e.target) && e.target !== streetInput && e.target !== cityInput) {
                suggestionsBox.style.display = "none";
            }
        });
    });
</script>

{% endblock content %}
