{% extends 'carapp/main.html' %}
{% load static %}
{% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/addAdvert.css' %}" />
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container my-4">
    <div class="row">
      <div class="col-md-11 wrapper bg-white shadow-lg">
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <p>{{field.label}} - {{ error }} </p>
              {% endfor %}
          {% endfor %}
        {% endif %}
        <h4 class="pb-4 border-bottom">Dodaj ogłoszenie</h4>
        <!-- Pasek postępu -->
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Etap 1: Informacje podstawowe -->
          <div class="form-step step-1">
            <div class="py-2">
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="title">Tytuł ogłoszenia</label>
                  {{ form.title }}
                </div>
                <div class="col-md-4">
                  <label for="price">Cena</label>
                  {{ form.price }}
                </div>
                <div class="col-md-4">
                  <label for="variant">Typ nadwozia</label>
                  {{ form.variant }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="brand">Marka</label>
                  {{ form.brand }}
                </div>
                <div class="col-md-4">
                  <label for="phone">Telefon</label>
                  {{ form.phone }}
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="street">Ulica i numer</label>
                  {{ form.street }}
                </div>
                <div class="col-md-4">
                  <label for="postal_code">Kod pocztowy</label>
                  {{ form.postal_code }}
                </div>
                <div class="col-md-4">
                  <label for="city">Miejscowość</label>
                  {{ form.city }}
                </div>
              </div>
            </div>
          </div>

          <!-- Etap 2: Zdjęcia i opis -->
          <div class="form-step step-2 d-none">
            <div class="row py-2">
              <div class="col-md-12">
                <label for="description">Opis</label>
                {{ form.description }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-12">
                <label for="featured_image1">Dodaj zdjęcie</label>
                {{ form.featured_image1 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image2">Dodaj zdjęcie</label>
                {{ form.featured_image2 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image3">Dodaj zdjęcie</label>
                {{ form.featured_image3 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image4">Dodaj zdjęcie</label>
                {{ form.featured_image4 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image5">Dodaj zdjęcie</label>
                {{ form.featured_image5 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image6">Dodaj zdjęcie</label>
                {{ form.featured_image6 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image7">Dodaj zdjęcie</label>
                {{ form.featured_image7 }}
              </div>
              <div class="col-md-12">
                <label for="featured_image8">Dodaj zdjęcie</label>
                {{ form.featured_image8 }}
              </div>
            </div>
          </div>

          <!-- Etap 3: Dane techniczne -->
          <div class="form-step step-3 d-none">
            <div class="row py-2">
              <div class="col-md-4">
                <label for="fuel_type">Rodzaj paliwa</label>
                {{ form.fuel_type }}
              </div>
              <div class="col-md-4">
                <label for="engine_capacity">Pojemność skokowa</label>
                {{ form.engine_capacity }}
              </div>
              <div class="col-md-4">
                <label for="power">Moc</label>
                {{ form.power }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="mileage">Przebieg</label>
                {{ form.mileage }}
              </div>
              <div class="col-md-4">
                <label for="no_crashed">Bezwypadkowy</label>
                {{ form.no_crashed }}
              </div>
              <div class="col-md-4">
                <label for="first_registration">Rok produkcji</label>
                {{ form.first_registration }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="color">Kolor</label>
                {{ form.color }}
              </div>
              <div class="col-md-4">
                <label for="num_of_doors">Liczba drzwi</label>
                {{ form.num_of_doors }}
              </div>
              <div class="col-md-4">
                <label for="color_type">Typ koloru</label>
                {{ form.color_type }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="city_fuel_consumption">Spalanie w mieście (L/100km)</label>
                {{ form.city_fuel_consumption }}
              </div>
              <div class="col-md-4">
                <label for="highway_fuel_consumption">Spalanie poza miastem (L/100km)</label>
                {{ form.highway_fuel_consumption }}
              </div>
              <div class="col-md-4">
                <label for="combined_fuel_consumption">Spalanie cykl mieszany (L/100km)</label>
                {{ form.combined_fuel_consumption }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label for="co2_emission">Emisja CO2 (g/km)</label>
                {{ form.co2_emission }}
              </div>
              <div class="col-md-4">
                <label for="emission_class">Klasa emisji spalin</label>
                {{ form.emission_class }}
              </div>
              <div class="col-md-4">
                <label for="eco_sticker">Ekoplakietka</label>
                {{ form.eco_sticker }}
              </div>
            </div>
          </div>

          <!-- Etap 4: Wyposażenie auta -->
          <div class="form-step step-4 d-none">
            <div class="row py-2">
              <div class="col-md-12 py-3">
                <h5>Audio Multimedia</h5>
                {{ form.audio_multimedia }}
              </div>
              <div class="col-md-12 py-3">
                <h5>Komfort</h5>
                {{ form.comfort }}
              </div>
            </div>
          </div>
            <div class="form-navigation">
              <button type="button" class="previous btn btn-secondary">Wstecz</button>
              <button type="button" class="next btn btn-primary">Dalej</button>
              <button type="submit" class="btn btn-success d-none">Zakończ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var currentStep = 1;
    var totalSteps = $(".form-step").length;

    function updateProgress() {
      var progress = (currentStep / totalSteps) * 100;
      $(".progress-bar").css("width", progress + "%").attr("aria-valuenow", progress).text(Math.round(progress) + "%");
    }

    function showStep(step) {
      $(".form-step").addClass("d-none");
      $(".form-step.step-" + step).removeClass("d-none");

      if (step === 1) {
        $(".previous").hide();
      } else {
        $(".previous").show();
      }

      if (step === totalSteps) {
        $(".next").hide();
        $("button[type='submit']").removeClass("d-none");
      } else {
        $(".next").show();
        $("button[type='submit']").addClass("d-none");
      }
    }

    $(".next").click(function() {
      currentStep++;
      showStep(currentStep);
      updateProgress();
    });

    $(".previous").click(function() {
      currentStep--;
      showStep(currentStep);
      updateProgress();
    });

    showStep(currentStep);
    updateProgress();
  });
</script>
{% endblock content %}
