{% extends 'carapp/main.html' %} 
{% load static %}
{% load custom_filters %} 
{% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
  <link rel="stylesheet" href="{% static '../static/profile.css' %}" />
  <script type="text/javascript" src="{% static 'repaymentCalculator.js' %}"></script>
  <script type="text/javascript" src="{% static 'insuranceCalculator.js' %}"></script>
  <script type="text/javascript" src="{% static 'showEquipment.js' %}"></script>
  <script type="text/javascript" src="{% static 'showContacts.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="wrapper text-center bg-white shadow-lg mb-4">
          <img
            src="{{ advert.owner.profile_image.url }}"
            alt="avatar"
            class="rounded-circle img-fluid border border-dark"
            style="width: 150px"
          />
          <h5 class="my-3">{{ advert.owner.name }}</h5>
          <p class="text-muted mb-1">{{ advert.owner.seller }}</p>
          <p class="text-muted mb-1">{{ advert.city }} / {{ advert.owner.location_country }}</p>
          <p class="text-muted mb-1">Sprzedawca od {{ advert.owner.created|date:"M d, Y"}}</p>
        </div>
        <div class="wrapper text-center bg-white shadow-lg mb-4 p-0">
          <div class="d-flex flex-column p-3">
            <button type="button" class="btn btn-primary w-100 mb-3 disabled">
              <a class="nav-link mx-2" href="{% url 'contact_advert' advert.id %}">
                Poproś o kontakt
              </a>
            </button>
            <button type="button" class="btn btn-primary w-100 mb-3" id="showPhoneNumber">
              <i class="bi bi-telephone"></i> Wyświetl numer
            </button>
            <p class="d-none" id="phoneNumber">+48 {{ advert.owner.phone_number }}</p>
            {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-primary w-100 mb-3" id="showEmailAddress">
              <i class="bi bi-envelope"></i> Wyświetl email
            </button>
            <p class="d-none" id="emailAddress">{{ advert.owner.email }}</p>
            <button type="button" class="btn btn-primary w-100 mb-3" data-bs-toggle="modal" data-bs-target="#calendarModal">
              Dodaj wizytę do kalendarza
            </button>
            <button type="button" class="btn btn-primary w-100 mb-3">
              <a class="nav-link mx-2" href="{% url 'opinion' advert.id %}">
                Dodaj opinię do ogłoszenia
              </a>
            </button>
            <button type="button" class="btn btn-primary w-100 mb-3">
              <a class="nav-link mx-2" href="{% url 'price_reminder' advert.id %}">
                Powiadom o zmianie ceny
              </a>
            </button>
            {% endif %}
          </div>
        </div>
        <!-- Kalkulator kredytowy -->
        <div class="wrapper text-center bg-white shadow-lg mb-4 p-3">
          <h4 class="border-bottom pb-2">Kalkulator Kredytowy</h4>
          <p class="text-muted">Oblicz swoje miesięczne raty oraz całkowitą kwotę kredytu w oparciu o wartość pojazdu, wpłatę własną oraz liczbę rat.</p>
          <h6>Wartość pojazdu: <span id="vehicle-price" data-vehicle-price="{{ advert.price }}">{{ advert.price|currency }}</span></h6>
          <div class="my-3">
            <label for="down-payment" class="form-label">Wpłata własna:</label>
            <div class="input-group mb-2">
              <input type="number" id="down-payment" class="form-control" value="0" min="0" max="{{ advert.price }}" step="1">
              <span class="input-group-text">PLN</span>
            </div>
            <input type="range" id="down-payment-slider" class="form-range" min="0" max="{{ advert.price }}" step="1" value="0">
            <div class="d-flex justify-content-between">
              <span>0,00 PLN</span>
              <span>{{ advert.price|currency }}</span>
            </div>
          </div>
          <div class="my-3">
            <label for="installments" class="form-label">Liczba rat:</label>
            <input type="number" id="installments" class="form-control mb-2" value="3" min="3" max="50" step="1">
            <input type="range" id="installments-slider" class="form-range" min="3" max="50" step="1" value="3">
            <div class="d-flex justify-content-between">
              <span>3</span>
              <span>50</span>
            </div>
          </div>
          <div class="my-3">
            <h5 class="text-danger">Kwota miesięczna: <span id="monthly-payment">0</span> zł x <span id="installment-count">3</span> rat</h5>
          </div>
          <div class="my-3">
            <h6>Kwota kredytu: <span id="loan-amount">0</span> zł</h6>
          </div>
        </div>
        <div class="wrapper text-center bg-white shadow-lg mb-4 p-3">
          <h4 class="border-bottom pb-2">Kalkulator Ubezpieczenia OC</h4>
          <form id="insurance-calculator-form">
            <div class="mb-3">
              <label for="driver-age" class="form-label">Wiek kierowcy:</label>
              <input type="number" id="driver-age" class="form-control" min="18" max="100" step="1" required>
            </div>
            <div class="mb-3">
              <label for="license-years" class="form-label">Liczba lat posiadania prawa jazdy:</label>
              <input type="number" id="license-years" class="form-control" min="0" max="80" step="1" required>
            </div>
            <div class="mb-3">
              <label for="engine-capacity" class="form-label">Pojemność silnika (cm³):</label>
              <input type="number" id="engine-capacity" class="form-control" value="{{ advert.engine_capacity }}" readonly>
            </div>
            <div class="mb-3">
              <label for="engine-power" class="form-label">Moc (KM):</label>
              <input type="number" id="engine-power" class="form-control" value="{{ advert.power }}" readonly>
            </div>
            <div class="mb-3">
              <label for="mileage" class="form-label">Przebieg (km):</label>
              <input type="number" id="mileage" class="form-control" value="{{ advert.mileage }}" readonly>
            </div>
            <div class="mb-3">
              <label for="num_of_doors" class="form-label">Liczba drzwi:</label>
              <input type="number" id="num_of_doors" class="form-control" value="{{ advert.num_of_doors }}" readonly>
            </div>
            <div class="mb-3">
              <label for="variant" class="form-label">Typ nadwozia:</label>
              <input type="text" id="variant" class="form-control" value="{{ advert.variant }}" readonly>
            </div>
            <div class="mb-3">
              <label for="co-owner" class="form-label">Czy będzie współwłaściciel?</label>
              <select id="co-owner" class="form-select">
                <option value="no">Nie</option>
                <option value="yes">Tak</option>
              </select>
            </div>
            <div class="mb-3 d-none" id="co-owner-details">
              <label for="co-owner-license-years" class="form-label">Liczba lat posiadania prawa jazdy współwłaściciela:</label>
              <input type="number" id="co-owner-license-years" class="form-control" min="0" max="80" step="1">
            </div>
            <button type="button" class="btn btn-primary" id="calculate-insurance">Oblicz Ubezpieczenie</button>
          </form>
          <div class="mt-3">
            <h5 class="text-danger">Orientacyjna kwota OC: <span id="insurance-amount">0</span> zł</h5>
          </div>
        </div>
      </div>
      
      <div class="col-lg-8">
        <div class="wrapper bg-white shadow-lg mb-4">
          <h4 class="py-4 border-bottom">{{ advert.title }}</h4>
          <div
            id="carouselExampleIndicators"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <div id="second-advert" class="carousel slide">
              <div class="carousel-indicators">
                {% for i in image_indices %}
                <button
                  type="button"
                  data-bs-target="#second-advert"
                  data-bs-slide-to="{{ i|subtract:1 }}"
                  class="{% if i == 1 %} active {% endif %}"
                ></button>
                {% endfor %}
              </div>
              <div class="carousel-inner rounded d-block">
                <div class="carousel-item active">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image1.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image2.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image3.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image4.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image5.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image6.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image7.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block w-100 img-fluid"
                    src="{{ advert.featured_image8.url }}"
                    alt=""
                    style="object-fit: cover; height: 480px;"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#second-advert"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Poprzednie</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#second-advert"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Następne</span>
              </button>
            </div>
            <div>
              <span>{{ advert.created }}</span>
              <span><span class="fw-bold">ID:</span> {{ advert.id }}</span>
            </div>
            <h4 class="pt-4">
              Cena:<span class="ms-2 py-4 text-danger fw-bold">{{ advert.price|currency }}</span>
            </h4>
            <h4 class="py-4 border-bottom">Szczegóły</h4>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-group list-group-flush">
                        {% for item in left_column %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-primary">{{ item.label }}</span>
                            <span>{{ item.value }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-group list-group-flush">
                        {% for item in right_column %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-primary">{{ item.label }}</span>
                            <span>{{ item.value }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
              <h4 class="py-4 border-bottom">Wyposażenie</h4>
              <div class="equipment">
                {% for category, features in equipment.items %}
                    <div class="category mb-4">
                        <h6>
                            {{ category }}
                            <i class="bi bi-chevron-down"></i>
                        </h6>
                        <ul class="list-group">
                            {% for feature in features %}
                                <li class="list-group-item">
                                    <i class="bi bi-check-circle"></i> {{ feature }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
              </div>
              <h4 class="pb-4 border-bottom border-bottom">Opis</h4>
              <p class="description">
                {{ advert.description }}
              </p>
              {% if map_link %}
              <h4 class="pb-4 border-bottom">Lokalizacja</h4>
                {{ map_link|safe }}
              {% endif %}
              {% if active_tags %}
              <h4 class="pb-4 mt-2 border-bottom">Tagi</h4>
                <p>{{ active_tags }}</p>
              {% endif %}
              <div>
                <h4 class="pb-4 mt-2 border-bottom">Opinie ({{ comments_count }})</h4>
                <div class="col-md-12">
                  {% if comments %}
                  {% for comment in comments %}
                  <div class="card mb-4">
                    <div class="card-header bg-light">
                      <div class="d-flex justify-content-between">
                        <h6 class="card-title fw-bold mb-0">{{ comment.name }}</h6>
                        <span class="text-muted">{{comment.created|timesince}} temu</span>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{ comment.body }}</p>
                      <div class="row">
                        <div class="col-md-4">
                          {% if comment.comment_image1 %}
                            <img
                              src="{{ comment.comment_image1.url }}"
                              class="img-fluid mb-3"
                              alt="Zdjęcie 1"
                              data-bs-toggle="modal"
                              data-bs-target="#imageModal1_{{ forloop.counter }}"
                            />
                            <!-- Modal for Image 1 -->
                            <div
                              class="modal fade"
                              id="imageModal1_{{ forloop.counter }}"
                              tabindex="-1"
                              aria-labelledby="imageModal1Label_{{ forloop.counter }}"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <img
                                      src="{{ comment.comment_image1.url }}"
                                      class="img-fluid"
                                      alt="Zdjęcie 1"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                        <div class="col-md-4">
                          {% if comment.comment_image2 %}
                            <img
                              src="{{ comment.comment_image2.url }}"
                              class="img-fluid mb-3"
                              alt="Zdjęcie 2"
                              data-bs-toggle="modal"
                              data-bs-target="#imageModal2_{{ forloop.counter }}"
                            />
                            <!-- Modal for Image 2 -->
                            <div
                              class="modal fade"
                              id="imageModal2_{{ forloop.counter }}"
                              tabindex="-1"
                              aria-labelledby="imageModal2Label_{{ forloop.counter }}"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <img
                                      src="{{ comment.comment_image2.url }}"
                                      class="img-fluid"
                                      alt="Zdjęcie 2"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                        <div class="col-md-4">
                          {% if comment.comment_image3 %}
                            <img
                              src="{{ comment.comment_image3.url }}"
                              class="img-fluid mb-3"
                              alt="Zdjęcie 3"
                              data-bs-toggle="modal"
                              data-bs-target="#imageModal3_{{ forloop.counter }}"
                            />
                            <!-- Modal for Image 3 -->
                            <div
                              class="modal fade"
                              id="imageModal3_{{ forloop.counter }}"
                              tabindex="-1"
                              aria-labelledby="imageModal3Label_{{ forloop.counter }}"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <img
                                      src="{{ comment.comment_image3.url }}"
                                      class="img-fluid"
                                      alt="Zdjęcie 3"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      {% if comments.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ comments.previous_page_number }}" tabindex="-1">Poprzednia</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Poprzednia</a>
                      </li>
                      {% endif %}

                      {% for num in comments.paginator.page_range %}
                      <li class="page-item {% if comments.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                      {% endfor %}

                      {% if comments.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ comments.next_page_number }}">Następna</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Następna</a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                  {% else %}
                  <div class="row">
                    <div class="col-12">
                      <div class="alert alert-primary text-center" role="alert">
                        Brak komentarzy.
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal do wyboru daty i godziny oglądania -->
<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calendarModalLabel">Wybierz termin oglądania</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="calendarForm">
          <div class="mb-3">
            <label for="viewingDate" class="form-label">Data</label>
            <input type="date" class="form-control" id="viewingDate" required>
          </div>
          <div class="mb-3">
            <label for="viewingTime" class="form-label">Godzina</label>
            <input type="time" class="form-control" id="viewingTime" required>
          </div>
          <button type="submit" class="btn btn-primary">Zapisz w kalendarzu</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('calendarForm').addEventListener('submit', function(event) {
    event.preventDefault();
    
    const date = document.getElementById('viewingDate').value;
    const time = document.getElementById('viewingTime').value;
    const advertId = "{{ advert.id }}";
    const city = "{{ advert.city }}";
    const country = "{{ advert.owner.location_country }}";

    if (date && time) {
      const url = new URL("{% url 'generate_ics' %}", window.location.origin);
      url.searchParams.append('date', date);
      url.searchParams.append('time', time);
      url.searchParams.append('advert_id', advertId);
      url.searchParams.append('city', city);
      url.searchParams.append('country', country);

      window.location.href = url;
    }
  });
</script>

{% endblock %}